This is my  second lab of Digital electronics Labratory. I comlpeted this lab in autonomos way using arduino, as without changing input pin, it is possible to  verify the truth table of AND, OR, NOT, EX-OR, EX-NOR GATE 
